<div id="post" >
  <h3><%= @post.title %> by <%= @post.author.name %></h3>
  <p class="counter">
    Comments: <%= @post.comments_counter.to_i %>, Likes: <%= @post.likes_counter.to_i %>
  </p>
  <p><%= @post.text %></p>
</div>

<ul id="comment_container">
  <% @post.comments.each do |comment| %>
    <li id="comment">
      <p><%= comment.user.name %>: <%= comment.text %></p>
    </li>
  <% end %>
</ul>
