<div id="post" >
  <h3><%= @post.title %> by <%= @post.author.name %></h3>
  <p class="counter">
    Comments: <%= @post.comments_counter.to_i %>, Likes: <%= @post.likes_counter.to_i %>
  </p>
  <p><%= @post.text %></p>
</div>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<ul id="comment_container">
  <% @post.comments.each do |comment| %>
    <li id="comment">
      <p><%= comment.user.name %>: <%= comment.text %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'New Comment', new_user_post_comment_path(post_id: params[:id]) %>
